@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{margin-top:.8rem;
  background:#f9f9f9;
  }

:root{
    --blue: #ec9824;  
    --white: #003d70; 
    --yellow: #ffffff;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .button-home{
    background-color: var(--blue) !important;
  }
  .button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
  }
  .button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
  }
  .button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
  }
  .button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
  }
  .button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .03);
  }
  .header-area {
    position: relative;
    height: 6rem;
    background: #0057a1;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
  }
  .header-area-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.02);
  }
  .header-area-one{
    position: relative;
    height: 50rem;
    background: #0057a1;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;

  }
  .banner {
    display: flex;
    align-items: center;
    /* position: relative; */
    /* height: 100%; */
    color: #fff;
    text-align: center;
    z-index: 1;
  }
  .banner h1 {
    font-weight: 800;
  }
  .banner p {
    font-weight: 700;
  }
  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
  }
  .navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
  }
  .navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
  }
  .navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
  }
  .navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
  }
  .navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
  }
  .navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  .navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
  }
  .navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
  }
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
  }
  .navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
  }
  .navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
  }
  .navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  .navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
  }
  .navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
  }
  .navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
  }
  .content {
    padding: 120px 0;
  }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      margin-left: 20px;
    }
    .navbar-nav {
      padding: 0 20px;
      background-color: rgba(0, 0, 0, .9);
    }
    .navbar.fixed-top .navbar-nav {
      background: transparent;
    }
  }
  @media screen and (min-width: 767px) {
    .banner {
      padding: 0 150px;
    }
    .banner h1 {
      font-size: 5rem;
    }
    .banner p {
      font-size: 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
      padding: 23px 15px;
    }
    .navbar-dark .navbar-nav .nav-link::after {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 30%;
      right: 30%;
      height: 1px;
      background-color: #fff;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      transition: transform 0.1s ease-in;
    }
    .navbar-dark .navbar-nav .nav-link:hover::after {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }
    .dropdown-menu {
      min-width: 200px;
      -webkit-animation: dropdown-animation 0.3s;
      animation: dropdown-animation 0.3s;
      -webkit-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
    }
  }
  @-webkit-keyframes navbar-animation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes navbar-animation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes dropdown-animation {
    0% {
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
    }
    75% {
      -webkit-transform: scaleY(1.1);
      -ms-transform: scaleY(1.1);
      transform: scaleY(1.1);
    }
    100% {
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes dropdown-animation {
    0% {
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
    }
    75% {
      -webkit-transform: scaleY(1.1);
      -ms-transform: scaleY(1.1);
      transform: scaleY(1.1);
    }
    100% {
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
    }
  }



  /* services */

  ul.i-list {
    padding-left: 0;
    list-style: none;
 }
 
 ul.i-list .list-title {
    display: inline-block;
    position: absolute;
 }
 
 ul.i-list li {
    padding: 2px 0px;
 }
 
 ul.i-list i.fa {
    margin-right: 7px;
 }
 
 ul.i-list .list-item {
    margin-top: 3px;
    display: inline-block;
 }
 
 ul.i-list.filled i.fa {
    color: white;
    font-size: 9px;
    padding: 5px;
    border-radius: 50%;
 }
 
 ul.e-icon-list.filled li {
    padding: 2px 0px;
    line-height: 24px;
 }
 
 ul.i-list.underline li {
    padding: 6px 0px;
    border-bottom: 1px solid #eee;
 }
 
 ul.i-list.medium li {
    padding-bottom: 25px;
    position: relative;
 }
 
 ul.i-list.medium .icon {
    margin-right: 25px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 68px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: 0 5px 16px rgba(0,0,0,.28);
    position: relative;
    z-index: 1;
    /*background-image: url(../img/crease.svg) !important;
    -moz-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
    background-position: center center !important;*/
 }
 
 ul.i-list.medium .icon i.fa {
    margin: 0;
 }
 
 ul.i-list.medium.bordered .icon {
    background: white;
    color: inherit;
    border: 2px solid #8fc135;
    font-size: 26px;
    color: #8fc135;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 22px rgba(0,0,0,.28);
 }
 
 ul.i-list.medium .list-item {
    text-transform: uppercase;
 }
 
 ul.i-list.large .icon {
    margin-right: 30px;
    background: #d0d0d0;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 8px 22px rgba(0,0,0,.28);
 }
 
 ul.i-list.large .icon i.fa {
    margin: 0;
 }
 
 ul.i-list.large.bordered .icon {
    background: inherit;
    color: inherit;
    border: 2px solid #8fc135;
    font-size: 30px;
    color: #8fc135;
 }
 
 ul.i-list.large .list-item {
    text-transform: uppercase;
 }
 
 ul.i-list .icon {
    float: left;
 }
 
 ul.i-list.right {
    text-align: right;
 }
 
 ul.i-list.right .icon {
    float: right;
 }
 
 ul.i-list.right .icon {
    float: right;
    margin-right: 0;
    margin-left: 25px;
 }
 
 ul.i-list.large.right .icon {
    float: right;
    margin-right: 0;
    margin-left: 30px;
 }
 
 ul.i-list.large li {
    margin-bottom: 25px;
 }
 
 ul.i-list .icon-content {
    overflow: hidden;
 }
 
 ul.i-list .icon-content .title {
    margin-top: 5px;
    margin-bottom: 10px;
 }
 
 .left-line .iconlist-timeline {
    left: auto;
    right: 35px;
 }
 
 .iconlist-timeline {
    position: absolute;
    top: 1%;
    left: 32px;
    width: 1px;
    height: 99%;
    border-right-width: 1px;
    border-right-style: dashed;
    height: 100%;
    border-color: #ccc;
 }
 .icon{
         background-color: var(--blue);
 }
 separator, .testimonial-two, .exp-separator-inner {
     border-color: var(--blue);
 }
 .exp-separator {
     border-color: var(--blue);
     border-top-width: 2px;
     margin-top: 10px;
     margin-bottom: 2px;
     width: 100%;
     max-width: 55px;
     border-top-style: solid;
     height: auto;
     clear: both;
     position: relative;
     z-index: 11;
 }
  .exp-separator {
     border-color: var(--blue);
     border-top-width: 2px;
     margin-top: 10px;
     margin-bottom: 2px;
     width: 100%;
     max-width: 55px;
     border-top-style: solid;
     height: auto;
     clear: both;
     position: relative;
     z-index: 11;
 }
 .section-sub-title {
     font-size: 18px;
     margin-bottom: 20px;
     font-weight: 400;
     font-family: Poppins;
 }
 .section-title {
     font-size: 32px;
     font-weight: 600;
     margin-top: 0.45em;
     margin-bottom: 0.35em;
     color: #303133;
     font-family: Poppins;
     letter-spacing: -0.02em;
 }
 .pb-20 {
     padding-bottom: 20px !important;
 }
 .text-center {
     text-align: center!important;
 }
 .center-separator .exp-separator-inner, .center-separator.exp-separator {
     margin-left: auto;
     margin-right: auto;
 }

 /* footer */

 .bg-footer {
    background-color: var(--white) !important;
}
.footer {
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
}

.footer .logo-footer {
  font-weight: 700;
  font-size: 22px;
  padding: 3px 0;
  letter-spacing: 1px;
}

.footer .footer-head {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.footer .text-foot {
  color: #adb5bd;
}

.footer .footer-list {
  margin-bottom: 0;
}

.footer .footer-list li {
  margin-bottom: 10px;
}

.footer .footer-list li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footer-list li a:hover {
  color: #6dc77a !important;
}

.footer .footer-list li:last-child {
  margin-bottom: 0;
}

.footer.footer-bar {
  padding: 30px 0;
  border-top: 1px solid #6c757d;
}

.footer.footer-bar .payment-cards img {
  height: 25px;
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

/* Trusted by */
.trused-by{
  background-image: url("/static/img/icb/1.jpg");
  background-color: #cccccc;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
}
.about-img{
  background-image: url("/static/img/icb/2.jpg");
  background-color: #cccccc;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
}
.services-img{
  background-image: url("/static/img/icb/6.png");
  background-color: #cccccc;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
}

.contact-img{
  background-image: url("/static/img/icb/4.jpg");
  background-color: #cccccc;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
}


/* About us */

.bg-light-primary {
  background-color: #f9fbff!important;
}
.pb-6, .py-6 {
  padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
  padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
  transition: transform .2s ease-in;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .4rem;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* testimonial  */


heading-tes:h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1c47e3;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial,sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #1c47e3;    
	border: 5px double;    
}

#services {}
#services .services-top {
    padding: 00px 0 0px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: var(--blue);
    font-weight:bold;
}                    

/* Contact in html */

.contact-area {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width:768px) {
  .contact {
      margin-bottom: 60px;
  }
}

.contact input {
  background: #e1dcdc;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #232434;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  width: 100%;
  font-family: 'poppins', sans-serif;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact textarea {
  background: #e1dcdc;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #232434;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: 'poppins', sans-serif;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact input:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.contact textarea:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.form-control::placeholder {
  color: #232434;
  opacity: 1;
}

.btn-contact-bg {
  border-radius: 30px;
  color: #fff;
  outline: medium none !important;
  padding: 15px 27px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: var(--blue);
  font-family: 'poppins', sans-serif;
  cursor: pointer;
  width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #232434;
  color: #fff;
}

/*START ADDRESS*/

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 40px;
}

@media only screen and (max-width:768px) {
  .single_address {
      padding-left: 0px;
  }
}

.single_address i {
  background: #f6f6f6;
  color: var(--blue);
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: var(--blue);
  color: #fff;
}

.single_address h4 {
  font-size: 18px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 5px;
}

.section-title h1 {
  font-size: 44px;
  font-weight: 500;
  margin-top: 0;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section-title p {
  padding: 0 10px;
  width: 70%;
  margin: auto;
  letter-spacing: 1px;
}
.section-title {
  margin-bottom: 60px;
}
.text-center {
  text-align: center!important;
}

/* adon footer */

.footer-location{
  
}