

{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="header-area-one banner">
   <div class="container">
      <h1>ICB Rwanda</h1>
      <p>We at, ICB-Rwanda is contented to introduce our institute which is in charge of professional
         training to organizations and staff in both public and private organizations in Rwanda and
         beyond. We have been in this business for five years now.</p>
      <a href="#content" class="button-home button button-primary" class="nav-button">Learn More</a>
   </div>
</div>
<section class="section-big main-color">
   <div class="container">

      <div class="row">
         <div class="col-md-12 pb-20 text-center"> 
            <h2 class="section-title mb-10"><span> Why <strong class="primary-color" style="text-transform: lowercase;">INSTITUTE OF CAPACITY
               BUILDING RWANDA</strong> </span></h2>
           <!-- <p class="section-sub-title">
               We are a passionate digital design agency that specializes in beautiful and easy-to- <br>
               use digital design &amp; web development services.
            </p> -->
            <div class="exp-separator center-separator">
               <div class="exp-separator-inner">
               </div>
            </div>

            

         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <ul class="i-list medium">
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-desktop"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">International partnerships in delivering programs that transform our participants’
                        future</h3>
                     <!-- <p class="sub-title">
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim ante, dapibus in.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-code"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">Local and international faculty representing broad mosaic of experience and
                        expertise</h3>
                     <!-- <p>
                        Aenean vulputate tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <!-- <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-paper-plane"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">Small interactive classes carefully composed for peer learning in small groups</h3>
                      <p>
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat, eleifend ac, enim lorem ante, dapibus in.
                     </p> 
                  </div>
               </li> -->
            </ul>
         </div>
         <div class="col-md-4">
            <ul class="i-list medium">
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-diamond"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Use of Problem Based Learning (PBL) methodology that provides
                        innovative and experiential knowledge, which adds direct value to participants</h3>
                     <!-- <p class="sub-title">
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend Aliquam lorem ante, dapibus in.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-recycle"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Real-life learning, synergy, team building elements in all programs</h3>
                     <!-- <p>
                        Aenean eleifend tellus. Aenean leo ligula, porttitor eu
                        consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <!-- <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-check"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Real-life learning, synergy, team building elements in all programs</h3>
                     <p>
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend enim lorem ante, dapibus in.
                     </p> 
                  </div>
               </li> -->
            </ul>
         </div>
         <div class="col-md-4">
            <ul class="i-list medium">
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-codepen"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">I.C.B is the institute of choice for those aspiring for excellence</h3>
                     <!-- <p class="sub-title">
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem ante.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-paper-plane"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Small interactive classes carefully composed for peer learning in small groups</h3>
                     <!-- <p>
                        Aenean vulputate eleifend tellus ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                     </p> -->
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-check"></i>  </div>
                  <div class="icon-content">
                     <h3 class="title">Customized training that meets our clients’ needs</h3>
                     <!-- <p>
                        Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac lorem ante, dapibus in.
                     </p> -->
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>

   <div class="row">
      <div class="col-12 trused-by">
      <center><h1 style="color: white;">Trusted By More
         Than 5,000 Happy Company</h1>
         <a href="#content" class="button-home button button-primary" class="nav-button">Learn More</a></center>

      </div>
   </div>

<!-- testimonial  -->

   <section class="testimonial-section">
	<div class="large-container">

   <div class="col-md-12 pb-20 text-center"> 
      <h2 class="section-title mb-10"><span> What <strong class="primary-color" style="text-transform: lowercase;"> Our core client say ?</strong> </span></h2>
     <!-- <p class="section-sub-title">
         We are a passionate digital design agency that specializes in beautiful and easy-to- <br>
         use digital design &amp; web development services.
      </p> -->
      <div class="exp-separator center-separator">
         <div class="exp-separator-inner">
         </div>
      </div>

   </div>
</div>
   <br><br>

		<div class="testimonial-carousel owl-carousel owl-theme">
			<div class="testimonial-block">
				<div class="inner-box">
					<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
					<div class="info-box">
						<div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></div>
						<h4 class="name">Mahfuz Riad</h4>
						<span class="designation">Ui Designer & CEO</span>
					</div>
				</div>
			</div>

			<div class="testimonial-block">
				<div class="inner-box">
					<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
					<div class="info-box">
						<div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></div>
						<h4 class="name">Mahfuz Riad</h4>
						<span class="designation">Ui Designer & CEO</span>
					</div>
				</div>
			</div>

			<div class="testimonial-block">
				<div class="inner-box">
					<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
					<div class="info-box">
						<div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></div>
						<h4 class="name">Mahfuz Riad</h4>
						<span class="designation">Ui Designer & CEO</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- testimonial  -->
<div class="container-xl">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="heading-tes">What <b>our customers</b> are saying</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/1.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/2.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/3.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/4.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>Mary Saveley</b>, Web Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/5.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<!-- <img src="/examples/images/clients/6.jpg" class="mr-3" alt=""> -->
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>John Williams</b>, Web Developer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--  -->

<br><br>
<div class="row" >
    <div class="col-6"> <img src="{% static 'img/icb/5.png' %}" alt="" style="width: 100%;"> </div>
    <div class="col-5" style="padding: 2rem;"><h2>We at, ICB-Rwanda is contented to introduce our institute which is in charge of professional
      training to organizations and staff in both public and private organizations in Rwanda and
      beyond. We have been in this business for five years now.</h2>
      <div class="exp-separator center-separator">
         <div class="exp-separator-inner">
         </div>
      </div>
      <p>We believe in keeping the clients happy and providing them with quality services at a very
         competent prices. We have excellent, qualified and experienced trainers who will provide you
         with the best possible practical training.</p>
   </div>

      
  </div>

<br>
<br><br><br><br><br>
   
{% endblock content %}       