{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 services-img">
       <center> <h1 style="color: white;">Our Services</h1> </center>
       
    </div>

</div>

<div class="container">
   <center> <h2 class="section-title mb-10"><span>  <strong class="primary-color" >1. Open Learning Programmes</strong> </span></h2> </center>
    <!-- <p class="section-sub-title">
        We are a passionate digital design agency that specializes in beautiful and easy-to- <br>
        use digital design &amp; web development services.
     </p> -->
     <div class="exp-separator center-separator">
        <div class="exp-separator-inner">
        </div>
     </div>

    <p>Delivered at our dedicated office suites at Hateux Plateu in the heart of Musanze
        City, our open learning programmes and workshops provide capacity building
        solutions across twelve core faculties</p>
</div>

<div class="container bootstrap snippets bootdey">
    <section id="services" class="current">
        <div class="services-top">
            <div class="container bootstrap snippets bootdey">
                <!-- <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2>What We Offer</h2>
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                        <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="services-list">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-magic highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Human Resource and Organizational Development</div>
                                            <!-- <div class="info">Beauty and function</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-code highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Leadership and Management</div>
                                            <!-- <div class="info">Quality code that lasts</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-pencil highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Accountability and Compliance</div>
                                            <!-- <div class="info">Words that tell your story</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-bullhorn highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Public Sector Reform</div>
                                            <!-- <div class="info">Converting users to customers</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Financial Management</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-umbrella highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Procurement</div>
                                            <!-- <div class="info">Thinking beyond tomorrow</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Monitoring and Evaluating Policies and Projects</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Communication/ English Proficiency</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Environmental and Natural Resources Management</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Small and Medium Enterprises (SME) Development</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">ICT</div>
                                            <!-- <div class="info">Leave a lasting impression</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  


<div class="container">
    <p>These programmes are ideal for developing the skills and knowledge bases of key
        personnel from organizations.
        Through practical focus and interactive delivery, these learning solutions are designed
        to act as catalysts for change, improving service delivery and achieving their strategic
        objectives.
        Where relevant, these programmes also support private sector organizations to improve
        their commercial performance.
        In addition, we can deliver any of our open programmes as a group programme
        specifically for
        your organization’s staff. This can be delivered in our premises or in your organizations
        Our open learning programmes and workshops also provide an excellent platform to
        network and learn from peers from other organizations and countries who face similar
        challenges</p>
</div>

<div class="container">
    <center> <h2 class="section-title mb-10"><span>  <strong class="primary-color" >2. Tailored Learning Solutions</strong> </span></h2> </center>
     <!-- <p class="section-sub-title">
         We are a passionate digital design agency that specializes in beautiful and easy-to- <br>
         use digital design &amp; web development services.
      </p> -->
      <div class="exp-separator center-separator">
         <div class="exp-separator-inner">
         </div>
      </div>
 
     <p>We also recognize that sometimes organizations are presented with unique
        development needs that require a customized solution.
        For these situations we offer tailored learning solutions; these can be based upon our
        current portfolio of programmes and workshops or be developed at the specific
        request of individual organizations to meet their exact requirements.
        To ensure this is achieved we work in partnership with interested organizations
        from the outset- identifying their needs, key objectives and intended outcomes. We
        can also develop unique curricula and learning materials should they be deemed
        necessary.</p>
 </div>
 
{% endblock content %}